/*Allgemein*/
body {
    background-image: url(images/bg.png);
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Kartenhintergrund*/
.wrapper {
    position: relative;
}

/*Sterne Position*/
.stars {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.star1 {
    position: absolute;
    top: 25px;
    left: 50px;
}

.star2 {
    position: absolute;
    top: 280px;
    left: 200px;
}

.star3 {
    position: absolute;
    top: 300px;
    left: 320px;
}

.star4 {
    position: absolute;
    top: 250px;
    left: 430px;
}

/*Hover*/

.star1:hover, .star2:hover,
.star3:hover, .star4:hover{
    background-image: url(images/stern_hover.png);
}

/*Textinhalt*/
.text {
    color: white;
    position: absolute;
    top: 0;
    padding: 50px 50px;
    width: 450px;
    margin: 30px 0px;
}

.text .headline {
    font-size: 30px;
}