/*Allgemein*/
body {
    background-image: url(images/bg1.png);
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Kartenhintergrund*/
.wrapper {
    position: relative;
}

/*Png-Dateien*/
.images {
    position: absolute;
    top: 0px;
    left: 0px;
}

.snowflake {
    position: absolute;
    top: -65px;
    left: -50px;
}

.snowman {
    position: absolute;
    top: 210px;
    left: 440px;
}

/*Textinhalt*/
.text {
    color: white;
    position: absolute;
    top: 30px;
    padding:80px 50px 75px;
    width: 450px;
}

.text .headline {
    font-size: 30px;
}