body {
    background-image: url(assets/bg.png);
}

section {
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%
}

.busch {
    position: absolute;
    top: -60px;
    left: 900px;
}

.pinguin {
    position: absolute;
    right: 950px;
    top: 220px;
}
