html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-image: url(bg.jpg);
}

nav {
    margin-bottom: 60px;
}

nav img {
    opacity: 50%;
}

#world {
    margin: 0px 35px 20px 0px;
}

nav img:hover {
    opacity: 100%;
    transition: 1s;
}

section {
    display: inline-block;
    margin: 20px;
    width: 200px;
}

.chartWrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 7px;
}
.chartWrapper .chart {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    background: rgb(0, 0, 0);
    transition: 1s;
    border-radius: 4px;
}

footer p {
    margin-top: 50px;
    font-size: 10px;
    opacity: .5;
}