/*Allgemein*/
body {
    background-image: url(images/bg.png);
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Kartenhintergrund*/
.wrapper {
    display: block;
    position: relative;
}


/*Textinhalt*/
.formular {
    position: absolute;
    top: 30px;
    left: 40px;
    color: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Abschnitt 1*/
.abschnitt1 {
    position: absolute;
    top: 10px;
}


.abschnitt1 p {
    margin-top: 10px;
}


/*Abschnitt 2*/
.abschnitt2 {
    position: absolute;
    top: 160px;
    left: 40px;
    color: white;
}

.abschnitt3 {
    position: absolute;
    top: 250px;
    left: 40px;
    color: white;
}

.abschnitt4 {
    position: absolute;
    top: 340px;
    left: 40px;
}