html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #a3bdb7;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    color: #fff;
    font-size: 50px;
}

p, .fas, li {
    color: #fff;
    font-size: 30px;
}

#dynamicList {
    position: relative;
    margin: 0;
    padding: 0;
}

#dynamicList li {
    cursor: pointer;
    /* position: absolute; */
    padding: 12px 50px 12px 30px;
    list-style-type: none;
    background-color: #728580;
    font-size: 18px;
    transition: 0.5s;
}

#dynamicList li:hover {
    background: #586b66;
  }

#dynamicList .done {
    text-decoration: line-through;
    background-color: #434d4a;
}

#delete {
    position: relative;
    left: 150px;
    vertical-align: middle;
}

#check {
    position: relative;
    left: 0;
    top: 0;
}