html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #a3bdb7;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    color: #fff;
    font-size: 50px;
}

p, .fas, li {
    color: #fff;
    font-size: 30px;

}